<!-- <script src='https://kit.fontawesome.com/a076d05399.js'></script> -->
<div class="container-fluid" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrlWTKsz0dk-3xS_PYzes2vM_Mb0R5WqZxNA&usqp=CAU'); background-repeat: no-repeat; background-position: right top;">
  <h1>{{title}} <i class="fas fa-wine-glass-alt"></i>: <span>{{getTodoCount()}}</span></h1>

  <hr>
  <div *ngIf="!selected">
    <h3>Add New Wine <i class="fas fa-wine-glass-alt"></i></h3>
    Name: <input type="text" name="name" [(ngModel)]="newWine.name" placeholder="Wine Name"><br>
    Type: <select name="type" [(ngModel)]="newWine.type">
      <option selected>Type</option>
      <option value="Pinot Noir">Pinot Noir</option>
      <option value="Chardonnay">Chardonnay</option>
      <option value="Cabernet Sauvignon">Cabernet Sauvignon</option>
      <option value="Sauvignon Blanc">Sauvignon Blanc</option>
      <option value="Pinot Grigio">Pinot Grigio</option>
      <option value="Rose">Rose</option>
      <option value="Merlot">Merlot</option>
      <option value="Malbec">Malbec</option>
      <option value="Riesling">Riesling</option>
      <option value="Port">Port</option>
      <option value="Bordeaux">Bordeaux</option>
      <option value="Brut">Brut</option>
      <option value="Red Blend">Red Blend</option>
      <option value="Reserva">Reserva</option>
    </select><br>
    Color: <select name="color" [(ngModel)]="newWine.color">
      <option selected>Color</option>
      <option value="Red">Red</option>
      <option value="White">White</option>
      <option value="Rose">Rose</option>
      <option value="Sparkling">Sparkling</option>
    </select><br>
    Rating: <input type="number" name="rating" [(ngModel)]="newWine.rating" placeholder="Rating"><br>
    Year Produced: <input type="text" name="yearProduced" [(ngModel)]="newWine.yearProduced" placeholder="Year Produced"><br>
    Cost: <input type="number" name="cost" [(ngModel)]="newWine.cost" placeholder="Cost"><br>
    Image URL: <input type="text" name="image" [(ngModel)]="newWine.image" placeholder="Image URL"><br>
    <button class="btn btn-success" (click)="addWine(newWine)">Add Wine</button><br>
    <br>
  </div>
</div>
<hr>
<h3 style="text-align: center; color: red">Wine <i class="fas fa-wine-glass-alt"></i> Cellar</h3>
<div id="wineDetails" *ngIf="selected && !editWine">
  <h2>{{selected.id}}: {{selected.name}}</h2>
  <img [src]="selected.image" height="300"><br>
  <p>Description: {{selected.description}}</p>
  <p>Review: {{selected.review}}</p>
  <p>Flavor: {{selected.flavor}}</p>
  <hr>
  <ul>
    <li>Type: {{selected.type}}</li>
    <li>Color: {{selected.color}}</li>
    <li>Year Produced: {{selected.yearProduced}}</li>
    <li>Rating: {{selected.rating}}</li>
    <li>Cost: {{selected.cost}}</li>

  </ul>
  <button class="btn btn-secondary" (click)='setEditWine()'>Edit</button>
  <button class="btn btn-primary" (click)='displayTable()'>Back</button>
</div>
<div id="wineList" *ngIf="!selected">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Type</th>
        <th>Description</th>
        <th>Rating</th>
        <th>Review</th>
        <th>Cost</th>
        <th>Delete?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let wine of wines">
        <td (click)='displayWine(wine)'>{{wine.name}}</td>
        <td style="text-align: center;">
          <img [src]="wine.image"  height="300" class="center">
        </td>
        <td>{{wine.type}}</td>
        <td>{{wine.description}}</td>
        <td>{{wine.rating}}</td>
        <td>{{wine.review}}</td>
        <td>{{wine.cost}}</td>
        <td><button class="btn btn-danger" (click)="deleteWine(wine.id)" type="submit" value="X" >X</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="editWine">
  <h3>Edit Wine</h3>
  <hr>
  Name: <input type="text" name="name" placeholder="Name" [(ngModel)]="editWine.name"><br>
  Type: <input type="text" name="type" placeholder="Type" [(ngModel)]="editWine.type"><br>
  Color: <input type="text" name="color" placeholder="Color" [(ngModel)]="editWine.color"><br>
  Flavor: <input type="text" name="flavor" placeholder="Flavor" [(ngModel)]="editWine.flavor"><br>
  Description: <input type="text" name="description" placeholder="Description" [(ngModel)]="editWine.description"><br>
  Rating: <input type="number" name="rating" placeholder="Rating" [(ngModel)]="editWine.rating"><br>
  Cost: <input type="number" name="cost" placeholder="Cost" [(ngModel)]="editWine.cost"><br>
  Year Produced: <input type="text" name="yearProduced" placeholder="Year Produced" [(ngModel)]="editWine.yearProduced"><br>
  Review: <input type="text" name="review" placeholder="Review" [(ngModel)]="editWine.review"><br>
  Image URL: <input type="text" name="image" placeholder="Image URL" [(ngModel)]="editWine.image"><br>
  <button class="btn-success" type="submit" (click)="updateWine(editWine)" value="Update Wine">Update Wine</button><br>

</div>
